<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/39cda2dd-2a0f-4c49-9849-cac710407baf/resourcegroups/RSAchievementTracker20190410011855ResourceGroup/providers/Microsoft.Web/sites/RSAchievementTracker</ResourceId>
    <ResourceGroup>RSAchievementTracker20190410011855ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://rsachievementtracker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>rsachievementtracker.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RSAchievementTracker</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RSAchievementTracker</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AchievementsDatabaseEntities" Order="1" Enabled="True">
          <Destination Path="Data Source=achievements-database.database.windows.net;Initial Catalog=AchievementsDatabaseV2;Persist Security Info=True;User ID=achievements-username;Password=Kongregate.45!;Connect Timeout=30" Name="" />
          <Object Type="DbDacFx" Enabled="True">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\AchievementsDbV2.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AchievementsDatabaseEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/AchievementsEntities.csdl|res://*/AchievementsEntities.ssdl|res://*/AchievementsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\AchievementsDbV2.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbFullSql" Enabled="False">
            <Source Path="..\..\..\..\Documents\script.sql" Transacted="False" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AchievementsDatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/AchievementsEntities.csdl|res://*/AchievementsEntities.ssdl|res://*/AchievementsEntities.msl;provider=System.Data.SqlClient;provider connection string="data source=achievements-database.database.windows.net;initial catalog=AchievementsDatabaseV2;persist security info=True;user id=achievements-username;password=Kongregate.45!;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>