body {
    background-color: #040d11;
    color: #fff;
}

.btn-subcategory-light {
    color: #fff;
    background-color: #1C2C34;
    border-color: #1C2C34;
    text-align: left;
}

    .btn-subcategory-light:hover {
        color: #fff;
        background-color: #1C3B40;
        border-color: #1C3B40;
    }

.btn-subcategory-dark {
    color: #fff;
    background-color: #071820;
    border-color: #071820;
    text-align: left;
}

    .btn-subcategory-dark:hover {
        color: #fff;
        background-color: #03282E;
        border-color: #03282E;
    }

input[type=checkbox] {
    display: none;
}

    input[type=checkbox]:checked + label:before {
        font-family: octicons;
        content: "\f03a";
    }

.achievement {
    color: #818181;
    background-color: #131F24;
    text-shadow: 1.1px 1.1px #000000;
}

.achievement-name {
    text-transform: uppercase;
    font-weight: 600;
}

.achievement-name-cantcomplete {
    text-transform: uppercase;
    font-weight: 600;
    color: #8D2716;
}

.category {
    background-color: #0d2d3d !important;
    color: #426171 !important;
    border-color: #0d2d3d;
}

.category-header a {
    color: #83A5B5;
}

    .category-header:hover,
    .category-header:hover a{
        text-decoration: none;
        color: #fff;
        background-color: #20597C;
    }

.achievement-description {
}

.achievement-description-cantcomplete {
    color: #8D2716;
}

.achievement-requirement-cancomplete {
    color: #fff;
}

.table {
    color: #CBAB6F;
    background-color: #102C3A;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #0A1F29;
}